@use '../../sass/' as *;

.policy-head{
    @include flex(unset,center);
    flex-wrap: wrap;
    margin: 0 -12px;

    @include mobile{
        margin-top: 22px;
    }

    &__item{
        
        width: 25%;
        padding: 12px;
        cursor:pointer;
        transition: transform 0.5s ease;

        &:hover{
            transform:  translateY(-12px);
        }

        @include tablet{
            width: 50%;
        }

        @include mobile{
            width: 100%;
        }
        
        &__content{
            box-shadow: $box-shadow-bottom;
            border-radius: 10px;
            @include flex(center,center);
            padding: 12px 0;

            i{
                width: 30%;
                text-align: center;
                font-size: 2rem;
                color: $main-color;
            }

            &--title{
                width: 70%;
                
                h6{
                    font-size: 1rem;
                }

                span{
                    font-size: 12px;
                    color: $txt-color;
                }
            }
        }
    }
}