@use '../../sass/' as *;

.detail-item{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content max-content;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 3rem;
    padding-top: 3rem;

    @include mobile{
        grid-template-columns: 1fr;
        padding-top: 2rem;
    }

    img{
        width: 100%;
        border-radius: 10px;
    }

    &__image{
        grid-row: 1/2;
        @include flex(center,unset);
        width: 100%;

        @include mobile{
            grid-row: inherit;
        }

        &__img{
            width: 30%;
            padding-right: 30px;

            div{
                img{
                    cursor: pointer;
                    border-radius: 10px;

                    &:first-child{
                        margin-bottom: 12px;
                    }

                    &.active{
                        border: 1px solid $main-color;
                    }
                }
            }
        }

        &__main{
            flex: 1;
        }
    }

    &__property{
        grid-row: 1/3;
        padding-top: 30px;
        text-align: left;

        @include mobile{
            grid-row: inherit;
        }

        h3{
            margin-bottom: 1rem;

            @include mobile{
                font-size: 1.2rem;
            }
        }

        & > span{
            color: $main-color;
            font-size: 1.2rem;
            font-weight: 500;
            display: block;
            margin-bottom: 1rem;

            @include mobile{
                font-size: 1rem;
            }
        }

        h5{
            font-size: 1.2rem;
            margin-bottom: 0.8rem;

            @include mobile{
                font-size: 1rem;
            }
        }

        &__color{
            margin-bottom: 1rem;

            .color{
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 3px solid $white;
                margin-right: 12px;
                cursor: pointer;
                outline: 1px solid $black;

                &.active{
                    outline: 3px solid $main-color;
                }

                &--black{
                    background-color: black;
                }

                &--white{
                    background-color: white;
                }

                &--red{
                    background-color: red;
                }

                &--orange{
                    background-color: orange;
                }

                &--blue{
                    background-color: blue;
                }

                &--yellow{
                    background-color: yellow;
                }

                &--pink{
                    background-color: pink;
                }
            }
        }

        &__size{
            margin-bottom: 2rem;

            li{
                cursor: pointer;
                display: inline-block;
                width: 30px;
                height: 30px;
                border: 1px solid $black;
                border-radius: 50%;
                margin-right: 12px;

                &.active{
                    background-color: $main-color;
                    color: $white;
                }

                span{
                    @include flex(center,center);
                    height: 100%;
                    width: 100%;
                    font-weight: 500;
                }
            }
        }

        &__amount{
            margin-bottom: 2rem;

            &__count{
                width: max-content;
                height: max-content;
                border: 1px solid $black;
                border-radius: 4px;

                input{
                    height: 100%;
                    width: 100px;
                    outline: none;
                    border: none;
                    text-align: center;
                }

                span{
                    
                    font-size: 1.5rem;
                    display: inline-block;
                    width: 40px;
                    text-align: center;
                    cursor: pointer;
                
                    &:nth-of-type(1){
                        border-right: 1px solid $black;
                    }

                    &:nth-of-type(2){
                        border-left: 1px solid $black;
                    }
                }         
            }
        }

        &__buy{

            button{
                outline: none;
                border: none;
                background-color: $main-color;
                display: block;
                margin-bottom: 1rem;
                padding: 8px 22px;
                color: $white;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 5px;

                @include mobile{
                    display: inline-block;
                    font-size: 0.8rem;

                    &~*{
                        margin-left: 12px;
                    }
                }
            }
        }
    }

    &__description{
        overflow: hidden;
        height: 400px;
        transition: height 0.5s ease;
        position: relative;
        
        &.active{
            height: 100%;
            overflow: inherit;
            transition: height 0.5s ease;

            button{
                bottom: -3%;
            }
        }
        
        &__content{
            height: 100%;
            overflow: hidden;


            h3{
                font-size: 1.2rem;
            }


            
        }
        
        button{
                left: 50%;
                transform: translateX(-50%);
                bottom: 0%;
                position: absolute;
                outline: none;
                border: none;
                background-color: $main-color;
                color: $white;
                border-radius: 5px;
                padding: 4px 12px;
        }
    }
}
